<div class="row text-left">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h1>Welcome,</h1>

                This is an example of your dashboard page. This page is only accessible to logged in user with role: ROLE_USER
                <ul>
                    <li>
                        <a href="https://www.daswag.tech">Website</a>
                    </li>
                    <li>
                        <a href="https://www.daswag.tech/documentation">Documentation</a>
                    </li>
                    <li>
                        <a href="https://www.daswag.tech/documentation">Public chat room</a>
                    </li>
                    <li>
                        <a href="https://www.daswag.tech/documentation">StackOverflow</a>
                    </li>
                    <li>
                        <a href="https://www.twitter.com/daswag_project">Follow @daswag_project on Twitter</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
