<div class="row text-left">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <img src="assets/img/logo.svg" style="width:400px;" alt="logo">
                    </div>
                    <div class="col-md-9">
                        <h1>Welcome,</h1>

                        This is your homepage.

                        If you have any questions on daSWAG:
                        <ul>
                            <li>
                                <a href="https://www.daswag.tech">Website</a>
                            </li>
                            <li>
                                <a href="https://www.daswag.tech/documentation">Documentation</a>
                            </li>
                            <li>
                                <a href="https://www.daswag.tech/documentation">Public chat room</a>
                            </li>
                            <li>
                                <a href="https://www.daswag.tech/documentation">StackOverflow</a>
                            </li>
                            <li>
                                <a href="https://www.twitter.com/daswag_project">Follow @daswag_project on Twitter</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
